@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap');

* {
    font-family: 'Sofia Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --cor1: #e1eefb;
    --cor2: #7FA1E0;
    --cor3: #3A4694;
    --cor4: #101847;
    --cor5: #4970b7;
    --cor6: #acc8fb;
}

body, html {
    background-color: var(--cor3);
    width: 100vw;
    height: 100vh;
}

.titulo {
    padding-top: 10px;
    text-align: center;
    color: var(--cor1);
    text-shadow: 2px 2px 3px var(--cor4);
}

.subtitulo {
    color: var(--cor1);
    text-shadow: 1px 1px 2px var(--cor4);
    text-align: center;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#login {
    background-color: var(--cor1);
    width: 300px;
    height: 560px;
    border-radius: 30px;
    margin-top: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    overflow: hidden;
    box-shadow: 0px 0px 15px #00000074;
    transform: translate(-50%, -50%);
    transition: width .2s, height .2s;
    transition-timing-function: ease;
}

#imagem {
    background: var(--cor2) url(../imagens/login-4.jpg) center center no-repeat;
    background-size: cover;
    height: 300px;
    display: block;
}

#form {
    text-align: center;
    padding: 10px;
    display: block;
}

#form > h1 {
    text-align: center;
    padding-bottom: 10px;
}

#form > p {
    text-align: center;
    font-size: 0.8em;
    margin-bottom: 20px;
}

.campo {
    display: block;
}

.campo label {
    display: none;
}

.campo span {
    color: var(--cor3);
    width: 40px ;
    padding: 5px;
}

.campo input {
    width: calc(100% - 80px);
    background-color: var(--cor6);
    border: none;
    padding: 3px;
    border-radius: 3px;
    transform: translateY(-7px);
}

.campo input:focus-within {
    background-color: var(--cor1);
}

input[type=submit] {
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 8px;
    width: 50%;
    padding: 5px;
    font-weight: bolder;
    font-size: 0.8em;
    background-color: var(--cor3);
    color: var(--cor1);
    border: 1px solid var(--cor4);
    border-radius: 5px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: var(--cor4);
}

.alterar {
    display: block;
    margin: auto;
    width: 50%;
    padding: 7px;
    background-color: var(--cor1);
    color: var(--cor5);
    font-size: 0.8em;
    text-decoration: none;
    border: 1px solid var(--cor2);
    border-radius: 5px;
    cursor: pointer;

}

.alterar:hover {
    background-color: var(--cor2);
    color: var(--cor1);
}

